.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Game {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  background: url(farmer.png) repeat;
  background-attachment: fixed;
}

.Dashboard {
  flex-basis: 15vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Dashboard, .Dashboard button {
  font-size: 3vmin;
}

.Score {
  width: 60vw;
}

.Score .ScoreItem {
  font-weight: bold;
}

.Controls {
  width: 20vw;
}

.Controls button {
  font-size: 3vmin;
  font-family: sans-serif;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.Grid {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  margin: 0em;
}

.Square {
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  font-family: sans-serif;
  padding: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.Square.exposed {
  box-shadow: 0 0 1px 0 white;
}
.Square.exposed > div {
  border-radius: 50%;
  width: 5vmin;
  height: 5vmin;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.Square.exposed.🐑 {
  background-color: rgba(255, 255, 200, 0.2);
}
.Square.exposed.🌱 {
  background-color: rgba(220, 255, 255, 0.2);
}
.Square.hidden {
  background-color: #efefef;
  box-shadow: 0 0 1px 0 white, inset 0 -0.2vmin 0.8vmin -0.4vmin rgba(0,0,0,0.2), inset -0.6vmin 0.4vmin 0.8vmin -0.4vmin rgba(255,255,255,0.4);
}
.Square.hidden:hover {
  background-color: #f4f4f4;
  box-shadow: 0 0 1px 0 white, inset 0 -0.2vmin 0.8vmin -0.4vmin rgba(0,0,0,0.6), inset -0.6vmin 0.4vmin 0.8vmin -0.4vmin rgba(255,255,255,1);
}